* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Navbar umumiy */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  background: #111;
  color: #fff;
}

/* Logo */
.logo {
  font-size: 22px;
  font-weight: 600;
}

/* Linklar */
.nav-links {
  display: none; /* Telefon uchun yashiramiz */
}

/* Menu icon (faqat telefonlarda ko‘rinadi) */
.menu-btn {
  font-size: 26px;
  cursor: pointer;
}

/* Telefon uchun menyu ko‘rinishi */
.nav-links.active {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 60px;
  right: 20px;
  background: #111;
  padding: 20px;
  border-radius: 8px;
}

.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 25px;
  background: #111;
  color: #fff;
}

.hero h1 {
  font-size: 28px;
  margin-bottom: 15px;
  line-height: 1.3;
}

.hero p {
  font-size: 16px;
  margin-bottom: 25px;
  opacity: 0.9;
}

.hero-btn {
  display: inline-block;
  padding: 12px 28px;
  background: #007aff;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
}

.services {
  padding: 60px 25px;
  background: #fff;
  color: #111;
  text-align: center;
}

.services h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

.service-cards {
  display: grid;
  gap: 20px;
}

.card {
  background: #f4f4f4;
  padding: 25px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 36px;
  margin-bottom: 15px;
}

.contact {
  padding: 70px 25px;
  text-align: center;
  background: #111;
  color: #fff;
}

.contact h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.contact p {
  font-size: 16px;
  margin-bottom: 25px;
  opacity: 0.9;
}

.contact-btn {
  display: inline-block;
  padding: 14px 32px;
  background: #007aff;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.contact-btn:hover {
  transform: scale(1.05);
}

.footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 18px 0;
  font-size: 14px;
  opacity: 0.7;
}

@media (min-width: 768px) {
  .nav-links {
    display: flex;
    gap: 30px;
  }

  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }

  .menu-btn {
    display: none;
  }

  .hero h1 {
    font-size: 42px;
  }

  .hero p {
    font-size: 18px;
  }

  .service-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .services h2 {
    font-size: 36px;
  }

  .contact h2 {
    font-size: 34px;
  }
  .contact p {
    font-size: 18px;
  }
}
